- https://geopandas.org/en/stable/docs/user_guide.html
- https://open-meteo.com/en/docs/air-quality-api
- https://open-meteo.com/en/docs/air-quality-api#domains=cams_global

In [1]:
import os

import pandas as pd
import geopandas as gpd

import folium
import leafmap

### Load Data

In [2]:
path = "F:\Data\datas\geo"
Indo_kec_shp_pathfile = os.path.join(path, "batas_kec", "batas_kec.shp")

In [3]:
gdf_Indo_kec = gpd.read_file(Indo_kec_shp_pathfile)

In [4]:
gdf_Indo_kec_jakarta = gdf_Indo_kec.query("NAME_1 == 'Jakarta Raya'")
gdf_Indo_kec_jakarta.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [ ]:
gdf_Indo_kec_jakarta.shape

In [29]:
gdf_Indo_kec_jakarta = gdf_Indo_kec_jakarta.reset_index(drop=True)
gdf_Indo_kec_jakarta['latitude'] = gdf_Indo_kec_jakarta.geometry.centroid.y
gdf_Indo_kec_jakarta['longitude'] = gdf_Indo_kec_jakarta.geometry.centroid.x

In [70]:
gdf_Indo_kec_jakarta.to_csv("Indo_Kec_Jakarta.csv", index=False)

In [ ]:
gdf_Indo_kec_jakarta.plot()

In [ ]:
gdf_Indo_kec_jakarta.explore()

### Open-Meteo API

In [79]:
Jagakarsa = gdf_Indo_kec_jakarta.query("NAME_2=='Jakarta Selatan' & NAME_3=='Jagakarsa'").copy()

In [80]:
Penjaringan = gdf_Indo_kec_jakarta.query("NAME_2=='Jakarta Utara' & NAME_3=='Penjaringan'").copy()

In [89]:
def get_weather_api(lat, lon):
    url = "https://air-quality-api.open-meteo.com/v1/air-quality"
    
    params = {
        "latitude": lat,
        "longitude": lon,
        "hourly": ["pm10", "pm2_5"]
    }
    
    responses = openmeteo.weather_api(url, params=params)

    return responses

In [90]:
Jagakarsa_weather = get_weather_api(Jagakarsa['latitude'].iloc[0], Jagakarsa['longitude'].iloc[0])

In [95]:
Penjaringan_weather = get_weather_api(Penjaringan['latitude'].iloc[0], Penjaringan['longitude'].iloc[0])

In [96]:
get_df_from_weather_api(Penjaringan_weather[0])

Coordinates -6.0°N 106.80001831054688°E
Elevation 7.0 m asl
Timezone None None
Timezone difference to GMT+0 0 s

                         date        pm10      pm2_5
0   2024-07-24 00:00:00+00:00  143.899994  98.000000
1   2024-07-24 01:00:00+00:00  143.000000  95.900002
2   2024-07-24 02:00:00+00:00  104.300003  69.199997
3   2024-07-24 03:00:00+00:00   89.400002  59.000000
4   2024-07-24 04:00:00+00:00   81.500000  54.000000
..                        ...         ...        ...
115 2024-07-28 19:00:00+00:00   80.800003  51.900002
116 2024-07-28 20:00:00+00:00   80.300003  52.400002
117 2024-07-28 21:00:00+00:00   82.900002  54.500000
118 2024-07-28 22:00:00+00:00   87.500000  58.099998
119 2024-07-28 23:00:00+00:00   95.000000  63.599998

[120 rows x 3 columns]

In [94]:
get_df_from_weather_api(Jagakarsa_weather[0])

Coordinates -6.400001525878906°N 106.80001831054688°E
Elevation 59.0 m asl
Timezone None None
Timezone difference to GMT+0 0 s

                         date        pm10       pm2_5
0   2024-07-24 00:00:00+00:00  124.800003   86.400002
1   2024-07-24 01:00:00+00:00  121.099998   82.900002
2   2024-07-24 02:00:00+00:00   90.300003   61.500000
3   2024-07-24 03:00:00+00:00   79.199997   53.900002
4   2024-07-24 04:00:00+00:00   68.500000   46.900002
..                        ...         ...         ...
115 2024-07-28 19:00:00+00:00  148.500000  101.300003
116 2024-07-28 20:00:00+00:00  142.500000   97.599998
117 2024-07-28 21:00:00+00:00  135.500000   92.900002
118 2024-07-28 22:00:00+00:00  131.800003   90.599998
119 2024-07-28 23:00:00+00:00  131.800003   90.800003

[120 rows x 3 columns]

In [93]:
def get_df_from_weather_api(response):
    print(f"Coordinates {response.Latitude()}°N {response.Longitude()}°E")
    print(f"Elevation {response.Elevation()} m asl")
    print(f"Timezone {response.Timezone()} {response.TimezoneAbbreviation()}")
    print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")
    
    # Process hourly data. The order of variables needs to be the same as requested.
    hourly = response.Hourly()
    hourly_pm10 = hourly.Variables(0).ValuesAsNumpy()
    hourly_pm2_5 = hourly.Variables(1).ValuesAsNumpy()
    
    hourly_data = {"date": pd.date_range(
        start = pd.to_datetime(hourly.Time(), unit = "s", utc = True),
        end = pd.to_datetime(hourly.TimeEnd(), unit = "s", utc = True),
        freq = pd.Timedelta(seconds = hourly.Interval()),
        inclusive = "left"
    )}
    hourly_data["pm10"] = hourly_pm10
    hourly_data["pm2_5"] = hourly_pm2_5
    
    hourly_dataframe = pd.DataFrame(data = hourly_data)

    return hourly_dataframe

In [ ]:
print(f"Coordinates {response.Latitude()}°N {response.Longitude()}°E")
print(f"Elevation {response.Elevation()} m asl")
print(f"Timezone {response.Timezone()} {response.TimezoneAbbreviation()}")
print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")