- https://satudata.jakarta.go.id/search?q=udara&halaman=open-data&kategori=dataset&topik=all&organisasi=all&status=all&sort=desc&page_no=2
- https://www.kaggle.com/datasets/senadu34/air-quality-index-in-jakarta-2010-2021

In [1]:
import os

import pandas as pd

- **periode_data** : Penjelasan Periode Data 1 Bulan Sekali
- **bulan** : adalah bulan penggambilan data Indeks Standar Pencemar Udara (ISPU)
- **tanggal** : adalah tanggal pengambilan data Indeks Standar Pencemar Udara (ISPU)
- **stasiun** : adalah lokasi penempatan alat pemantauan udara
- **pm_sepuluh** : adalah nilai hasil pengukuran Indeks Standar Pencemar Udara (ISPU) untuk parameter - PM10 (nama salah satu nama parameter yang dipantau) yaitu Partikulat dengan ukuran di bawah 10 mikron
- **pm_duakomalima** : adalah nilai hasil pengukuran Indeks Standar Pencemar Udara (ISPU) untuk parameter PM2.5 (nama salah satu nama parameter yang dipantau), yaitu Partikulat dengan ukuran di bawah 2.5 mikron
- **sulfur_dioksida** : adalah nilai hasil pengukuran Indeks Standar Pencemar Udara (ISPU) untuk parameter sulfur dioksida/ SO2 (nama salah satu nama parameter yang dipantau)
- **karbon_monoksida** : adalah nilai hasil pengukuran Indeks Standar Pencemar Udara (ISPU) untuk parameter karbon monoksida/ CO (nama salah satu nama parameter yang dipantau)
- **ozon** : adalah nilai hasil pengukuran Indeks Standar Pencemar Udara (ISPU) untuk parameter ozon/ O3 (nama salah satu nama parameter yang dipantau)
- **nitrogen_dioksida** : adalah nilai hasil pengukuran Indeks Standar Pencemar Udara (ISPU) untuk parameter nitrogen dioksida/ NO2 (nama salah satu nama parameter yang dipantau)
- **max** : adalah nilai tertinggi hasil pengukuran Indeks Standar Pencemar Udara (ISPU) dari beberapa parameter yang dipantau pada Stasiun Pemantau Kualitas Udara (SPKU) dan tanggal pengukuran tertentu
- **parameter_pencemar_kritis** : adalah nama parameter yang dipantau yang hasil nilai Indeks Standar Pencemar Udara (ISPU) nya paling tinggi pada Stasiun Pemantau Kualitas Udara (SPKU) dan tanggal tertentu
- **kategori** : adalah kategori hasil pengukuran Indeks Standar Pencemar Udara (ISPU) pada Stasiun Pemantau Kualitas Udara (SPKU) dan tanggal tertentu

In [27]:
base_path = r"F:\Data\datas\Air Quality"

In [12]:
filename = "Data Indeks Standar Pencemar Udara (ISPU) di Provinsi DKI Jakarta 2022.csv"
filepath = os.path.join(path, filename)

In [28]:
paths = [os.path.join(base_path, f"ispu DKI\ispu_dki{i}.csv") for i in range(1, 6)]

In [30]:
df = pd.DataFrame()
for path in paths:
    if df.empty:
        df = pd.read_csv(path)
    else:
        df = pd.concat([df, pd.read_csv(path)], axis=0)

In [13]:
df = pd.read_csv(filepath)

In [41]:
df['tanggal'] = pd.to_datetime(df['tanggal'])

In [53]:
df['year'] = df['tanggal'].dt.year
df['month'] = df['tanggal'].dt.month
df['day'] = df['tanggal'].dt.day

In [82]:
df.pivot_table(index='stasiun', columns='year', values='pm10', aggfunc={'pm10': 'mean'}, margins=True)

year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,All
stasiun,,,,,,,,,,,,,
DKI1 (Bunderan HI),51.540845,53.309735,54.212885,61.631250,52.357576,59.350148,53.359773,45.980114,45.971429,52.229226,48.307692,49.832877,52.226325
DKI2 (Kelapa Gading),18.122449,51.822086,62.783099,55.579832,57.496914,58.897959,53.361644,49.477273,54.484507,61.104972,53.077994,55.795518,55.346311
DKI3 (Jagakarsa),49.882353,49.890625,42.350000,29.827195,23.073964,19.660256,51.903333,47.890855,49.492711,56.183616,49.266289,53.421203,43.192736
DKI4 (Lubang Buaya),47.945946,77.876471,78.030211,61.501401,61.424157,70.534375,58.342618,57.289326,60.282913,59.230539,59.852507,54.042042,63.211312
DKI5 (Kebon Jeruk),NaN,NaN,58.000000,56.502976,57.917127,53.401198,48.541538,39.382637,51.372549,56.784916,46.358127,48.376771,51.137211
All,47.770325,58.421887,58.947740,52.834591,50.607602,52.699878,53.234430,48.233333,52.366061,57.113830,51.264342,52.262379,53.113963

In [56]:
df.groupby(['year', 'stasiun']).agg({'pm10': 'mean'}).unstack(0)

                           pm10                                              \
year                       2010       2011       2012       2013       2014
stasiun
DKI1 (Bunderan HI)    51.540845  53.309735  54.212885  61.631250  52.357576
DKI2 (Kelapa Gading)  18.122449  51.822086  62.783099  55.579832  57.496914
DKI3 (Jagakarsa)      49.882353  49.890625  42.350000  29.827195  23.073964
DKI4 (Lubang Buaya)   47.945946  77.876471  78.030211  61.501401  61.424157
DKI5 (Kebon Jeruk)          NaN        NaN  58.000000  56.502976  57.917127

                                                                             \
year                       2015       2016       2017       2018       2019
stasiun
DKI1 (Bunderan HI)    59.350148  53.359773  45.980114  45.971429  52.229226
DKI2 (Kelapa Gading)  58.897959  53.361644  49.477273  54.484507  61.104972
DKI3 (Jagakarsa)      19.660256  51.903333  47.890855  49.492711  56.183616
DKI4 (Lubang Buaya)   70.534375  58.342618  57.289326  60.282913  59.230539
DKI5 (Kebon Jeruk)    53.401198  48.541538  39.382637  51.372549  56.784916


year                       2020       2021
stasiun
DKI1 (Bunderan HI)    48.307692  49.832877
DKI2 (Kelapa Gading)  53.077994  55.795518
DKI3 (Jagakarsa)      49.266289  53.421203
DKI4 (Lubang Buaya)   59.852507  54.042042
DKI5 (Kebon Jeruk)    46.358127  48.376771

In [ ]:
df['stasiun'].value_counts()